.header {
    display: flex;
    justify-content: space-between;
}

.logo-container {
    max-height: 100px;
}

.navigation-list > ul {
    display: flex;
    list-style-type: none;
    padding: 15px;
    margin-right: 10px;
}