.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  font-family: "Montserrat", sans-serif;
}

.logo-container img {
  max-height: 75px;
  width: auto;
}

.search {
  display: flex;
  justify-content: center;
  width: 500px;
}

.search > input {
  margin: 0px 10px;
  border-radius: 10px;
  height: 25px;
  width: 350px;
}

.search > button {
  border-radius: 10px;
}

.nav-container .navigation-list {
  display: flex;
  list-style: none;
  font-size: 20px;
  margin: 20px;
  padding: 0;
}

.nav-list-item {
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.nav-list-item:hover {
  background-color: rgba(0, 123, 255, 0.1);
  border-radius: 4px;
}

.body {
  padding: 15px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.res-card {
  width: 300px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.res-card:hover {
  cursor: pointer;
  border: 2px solid rgb(254, 244, 243);
}

.res-img {
  width: 100%;
  height: 260px;
}

.res-card h3,
.res-card h4,
.res-card h5,
.res-card p {
  margin: 5px 10px;
  font-family: "Lato", sans-serif;
}

.res-card h3 {
  margin-top: 10px;
}

.shimmer-container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin: 20px;
}

.shimmer-card {
  flex-basis: calc(33% - 20px);
  height: 260px;
  width: 300px;
  margin: 10px;
  background: #fef4f3; /* Light pinkish background color */
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.shimmer-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    #fef4f3 0%,
    #ffffff 50%,
    #fef4f3 100%
  );
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}
